<div class="dsc-carousel" [ngStyle]="{'min-height':finalHeight}">
    <div class="dsc-carousel__btns">
        <i class="fa fa-chevron-circle-left" (click)="previewPosition()"></i>
        <i class="fa fa-chevron-circle-right" (click)="nextPosition()"></i>
    </div>
    <div class="dsc-carousel__content">
        <ng-container *ngFor="let item of items">
            <div class="dsc-carousel__content-item"
                [ngStyle]="{'background-image': 'url('+ item.image +')', 'margin-left':item.marginLeft+'%'}">
                <h1>{{item.ttile?.first}}<span>{{item.ttile?.second}}</span></h1>
                <p>{{item.subtitle}}</p>
            </div>
        </ng-container>

    </div>
    <div class="dsc-carousel__steps">
        <div class="dsc-carousel__steps-step dsc-carousel__steps-step-{{currentPosition===item.id ? 'active':'' }}"
            *ngFor="let item of items" (click)="setCurrentPosition(item.id)">
        </div>
    </div>
</div>